 <footer class="footer mt-5">
     <div class="container">
         <div class="row">
             <div class="col-sm-3">
                 <h4 class="title">Find us on</h4>
                 <ul class="social-icon social-home">
                     <a href="https://www.facebook.com/HavaianasAustralia" class="social"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                     <a href="https://twitter.com/havaianas?lang=en" class="social"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                     <a href="https://www.instagram.com/havaianas_au/" class="social"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                 </ul>
             </div>
             <div class="col-sm-3">
                 <h4 class="title">My Account</h4>
                 <ul class="nav flex-column account-icon">
                     <li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-user" aria-hidden="true"></i> Profile</a></li>
                     <li class="nav-item"><a class="nav-link" href="list.php"><i class="fa fa-heart" aria-hidden="true"></i> Wish List</a></li>
                     <li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-cart-plus" aria-hidden="true"></i> Cart</a></li>
                 </ul>
             </div>
             <div class="col-sm-3">
                 <h4 class="title">Customer Service</h4>
                 <div class="customer">
                     <a href="https://www.havaianasaustralia.com.au/Footer/Customer-service/Contact-us">Contact us</a>
                 </div>
             </div>
             <div class="col-md-3 mx-auto">
                 <h6 class="title">Get the latest from Havaianas.</h6>
                 <p class="font-size"></p>
                 <form class="input-group">
                     <input type="text" class="form-control form-control-sm" placeholder="Your email"
                         aria-label="Your email" aria-describedby="basic-addon2">
                     <div class="input-group-append">
                         <button class="btn btn-info" type="button">Join</button>
                     </div>
                 </form>

             </div>
         </div>
         <hr>

         <div class="row">
             <div class="col text-center">Copyright &copy; 2019 Havaianas</div>
         </div>
     </div>
 </footer>